{% extends 'base.html' %}
{% block content %}
<head>
    <title>Book Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container " style="margin-top:100px ;">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ book.photo.url }}" alt="{{ book.title }} Photo" class="img-fluid" width="">
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.description }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Genre:</strong> {{ book.genre }}</li>
                            <li class="list-group-item"><strong>Author:</strong> {{ book.author }}</li>
                            <li class="list-group-item"><strong>Year:</strong> {{ book.year }}</li>
                            <li class="list-group-item"><strong>Price:</strong> ${{ book.price }}</li>
                        </ul>
                        <form method="POST" action="{% url 'add_to_cart' book.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Add to Cart" class="btn btn-primary mt-3">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
